.venue {
  color: var(--text-color);
}

.tag {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-radius: 50px;
}

.availableDates h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.venueContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@media screen and (max-width: 700px) {
  .venueContainer {
    flex-direction: column;
  }
}
