.card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
}

.cardImage {
  object-fit: cover;
  height: 200px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1rem;
}

.textContainer {
  padding: 1rem;
}

.priceBtnContainer {
  display: flex;
  justify-content: space-between;
}
