header {
  width: 100%;
  background-color: var(--bg-light);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  z-index: 1;
}

.innerHeader {
  justify-content: space-between;
}

.logoNav {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.logo {
  width: 50px;
}
