header {
  width: 100%;
  background-color: rgb(248, 249, 250);
  border-bottom: 1px solid #d914a4;
  z-index: 1;
}

.innerHeader {
  justify-content: space-between;
}

.logoNav {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.logo {
  width: 50px;
}
