header {
  width: 100%;
  background-color: var(--bg-light);
  border-bottom: 1px solid var(--border-color);
  z-index: 1;
}

.innerHeader {
  justify-content: space-between;
}

.logoNav {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.logo {
  width: 50px;
}
